.nodeto-video-streaming {
  text-align: center;

  .nodeto-video-streaming__canvas {
    border-radius: 10px;
    width: 100%;

    &.nodeto-video-streaming__canvas--empty {
      width: auto;
    }
  }
}