.nodeto-streaming-tiles__streaming-row {
  margin: 0;

  .nodeto-streaming-tiles__streaming-column {
    padding: 0;

    .nodeto-video-streaming .nodeto-video-streaming__img {
      border-radius: 0;
    }
  }
}