.nodeto-login__body {

  .nodeto-login__section-container {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    .nodeto-login__section {
      display: inline-block;
      width: 300px;
    }

    .nodeto-login__title {
      font-family: 'Calligraffitti', cursive;
      white-space: nowrap;
      font-size: 45px;
      font-weight: bold;
    }
  }
}